body {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    display: flex;
    place-items: center;
	font-family: Arial, sans-serif;
    font-family: Nunito Sans,sans-serif;
    color: #615551;
    background-image: linear-gradient(#0BAB64,
    #3BB78F);
    min-height:100vh;
}
h1,h2,h3,h4,h5{
    font-family: Nunito Sans,sans-serif;
    font-weight: 800;
    line-height: 1.6;
    color: #615551;
}
p{
    font-family: Nunito Sans,sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: #615551;
}

.search{
    display:flex;
    flex-direction:row;
}
 button{
    font-family: Nunito Sans,sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: #615551;
    border: 1px solid #615551;
    border-radius: 0.5rem;
    margin: 0.5rem;
    width: 100%;
    min-width: 100px;
}

input{
    font-family: Nunito Sans,sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: #615551;
    border: 1px solid #615551;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
    width: 100%;
    min-width: 400px;
}
button:hover{
    cursor: pointer;
}
.container{
    margin-top: 6rem;
    background-color: #EDE9D5;
    padding: 4rem;
    display:flex;
    flex-direction:column;
    place-items: center;
    width: 90%;
    margin: 0 auto;
    border-radius: 1rem;
    max-width: 1200px;
    min-height: 600px;
}

.search-options{
    width:70%;
}
.recipes{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-gap: 0rem;
    margin-top: 2rem;
    width: 100%;
}
figure{
    margin: 1rem;
    padding: 0;
}
.results{
    list-style: none;
    margin-bottom: 2rem;
}
.preview-link{
    display:flex;
    flex-direction:row;
}
